::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #100F10;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    padding-top: 30px;
    background: #9B2C2C;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.next-image {

  border-radius: 7px;
}

a:focus { outline: thin dotted; }

.link {
  z-index: -5;
}
*:focus {
  box-shadow: none;
}